################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GildedRose.Test/obj
/.vs/GildedRose/v15/Server/sqlite3
/GildedRoseApp/obj/Debug
/GildedRoseBusinessLogic/obj
